body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    background-image: url("../images/bg01.png");
    background-color: #f7f7f7;
    color: #696969;
    font-weight: 300;
	line-height: 2.25em;
}
ul li{
    list-style: none;
}
a{
    color: #696969;
    text-decoration: none;
}
.header,.main,.footer-top{
    display: grid;
    gap: 30px;
    margin: 40px;
}
.header{  
    grid-template-columns: 40% 60%;
}
.banner,.services{
    margin: 30px 90px;
}
.main{
    padding: 20px;
    grid-template-columns: 30% 60% auto; 
    margin: 0;
}
.footer{
    margin-top: 100px;
    margin-bottom: 160px;
}
.footer-top{
    grid-template-columns: auto auto auto auto;
} 
.footer-bottom{
    margin: 40px 300px;
} 
.banner,.main{
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 5%);
}
.header-body{
    margin-top: -50px;
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
}
.header-title{
   
    font-size: 3rem;
    margin-left: 80px;
    background-color: #ff4486;
    border-radius: 6px;
    padding: 0.25em 0.2em 0.25em 0.2em;
    vertical-align: middle;
    font-weight: 400;
}
.header-title a{
    color: #fff !important;
}
.header-side{
    font-weight: 800;
    line-height: 4.5em;
    letter-spacing: 0.025em;
    font-size: 1rem;
    vertical-align: middle;
    margin: 30px;
}
.navbar-menu {
    display: flex;
    justify-content: space-evenly;
}
.navbar-menu  li a{
    transition: background-color .25s ease-in-out;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: #696969;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5em 1em 0.5em 1em;
}
.navbar-menu li a:hover{
    background-color: #fff;
    color: #696969 !important;
}
.navbar-menu .is-active{
    background-color:  #444;;
    color: #fff !important;
    border-radius: 5px;
}
.banner-body{
    display: flex;
    height: 300px;
}
.banner-title h2{
    font-size: 3.5rem;
    color: #444;
    font-weight: 800;
    margin: 40px;
}
.banner-title p{
    font-size: 2.75rem;
    line-height: 1.35em; 
    margin: 40px;
}
.btn{
    position:absolute;
    font-size: 2.25em;
    border-radius: 6px;
    font-weight: 800;
    cursor: pointer;
    padding: 20px;
    left: 60%;
    width: 300px;
    height: 40px;
    text-align: center;
}

.btn1{
    background-color: #0090c5;
    top: 25px;
}
.btn2{
    background-color: rgba(0, 0, 0, 0.05);
    top: 150px;
}
.btn1 a{
    color: #fff;
}
.btn2 a{
    color: #444;
}
.services .col-1,.col-2,.col-3{
    background-color: #fff;
    width: 30% !important;
    margin: 10px;
    border-radius: 8px;
}
.services img{
    display: block;
    width: 100%;
    border-radius: 8px;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    margin-bottom: 50px;
    margin-top: -40px;

}
.services a{
    font-size: 1.35em;
    line-height: 1em;
    color: #444;
    font-weight: 800;
    text-align: left;
    margin-left: 20px;
}
.services p{
    margin-left: 20px;
}
.left-sidebar h2{
    margin-left: 40px;
    font-size: 1.35em;
    color: #444;
    font-weight: 800;
}
.left-sidebar a{
    display: inline-block;
    transition: background-color .25s ease-in-out;
    background: #0090c5;
    color: #fff;
    border-radius: 6px;
    font-weight: 800;
    cursor: pointer;
    font-size: 1.35em;
    padding: 0.6em 1.5em;
    margin-top: 20px;
    margin-left: 30px;
}
.left-sidebar img{
    width: 150px;
    height: 100px;
    margin: 12px;
    border-radius: 8px;
}
.main-body {
    text-align: left;
    margin: 0 0 1.1em 0;
    margin-bottom: 30px;
}
.main-body h2{
    color: #444;
    font-weight: 800;
    font-size: 2.25em;
    line-height: 1em;
}
.main-body a{
    color: #0090c5;
    text-decoration: underline;
}
.main-body div a[href="/verti/"]{
    transition: background-color .25s ease-in-out;
    background: #0090c5;
    color: #fff;
    border-radius: 6px;
    font-weight: 800;
    cursor: pointer;
    font-size: 1.35em;
    padding: 0.6em 1.5em;
    text-decoration: none;
   
}
footer{
    margin: 100px;
}
.footer h2{
    font-size: 1.35em;
    margin: 0 0 1em 0;
    color: #444;
    font-weight: 800;
}
 .footer a{
    text-decoration: underline;
 }

/* media queires*/

